---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//@import 'bourbon';
@import 'bootstrap';
@import 'leaflet';
@import 'header';
@import 'city_map';
@import 'footer';

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#schoolMap { height: 480px; }

// own bootstrap elements
.btn-white {
  @include button-variant($gray-dark, #fff, #fff);
}

.btn-white-outline {
  @include button-outline-variant(#fff);
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $gray;
  }
  @include hover {
    color: $gray;
  }
}

.list-dark-links > li > a { color: $gray-dark; }
.text-white { color: white; }
