<footer class="footer m-t-3 m-b-0">
  <div class="center-block text-xs-center p-t-2 m-b-3">
    <a href="http://codefor.de/ruhrgebiet/" target="_blank" style="display: inline-block;">
    <img src="/img/code-for-ruhrgebiet-logo.png"
         alt="Code for Ruhrgebiet" width="260" height="56">
    </a><br><br>
    <p class="text-muted" style="display: inline-block;">Ein Projekt vom OK Lab Ruhrgebiet</p>
  </div>

  <div class="p-t-1" style="background: #F2F2F2;">
    <div class="container">
      <div class="row text-xs-center">
        <div class="col-xs-12">
          <ul class="list-inline list-dark-links">
            <li class="list-inline-item"><a href="{{ site.github.url }}/imp/">Impressum</a></li>
            <li class="list-inline-item">•</li>
            <li class="list-inline-item"><a href="https://twitter.com/codeforruhr" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
            <li class="list-inline-item">•</li>
            <li class="list-inline-item"><a href="https://github.com/CodeforRuhrgebiet/schulradar" target="_blank"><span class="fa fa-code-fork"></span> Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.schulradar-ruhrgebiet.de"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.schurig.pw/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.schurig.pw/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
