<footer class="m-t-3">
  <div class="center-block text-xs-center p-t-2">
    <p class="p-t-2" style="display: inline-block;">Ein Projekt von</p>
    <a href="http://codefor.de/ruhrgebiet/" target="_blank" style="display: inline-block;">
    <img src="https://raw.githubusercontent.com/codeforruhrgebiet/promo/master/logo-long.png"
         alt="Code for Ruhrgebiet" width="280" height="106">
    </a>

    <hr>

    <ul class="list-inline">
      <li class="list-inline-item"><a href="">Impressum</a></li>
      <li class="list-inline-item"><a href="">Twitter</a></li>
      <li class="list-inline-item"><a href="">auf Github</a></li>
    </ul>
  </div>
</footer>
