<div class="position: relative;">
  <div id="headermap"></div>

  <div class="container text-center">
    <div class="header-text" style="position: absolute; top: 0;">
      <a class="nav-link {{ homepage_active }}" href="{{ site.github.url }}/">
        <span class="title-title">
          <mark>{{ site.title }}<br></mark>
        </span>
      </a>
    </div>
  </div>
</div>

<script>
  var latitude = 51.4818445, longitude = 7.216236299999991, zoomlevel = 10;
  {% if page.layout == 'city' %}
    {% for city in site.cities %}
      {% if page.key == city.key %}
        {% assign meta = city %}
          {% if meta.latitude %} latitude = {{ meta.latitude }}; {% endif %}
          {% if meta.longitude %} longitude = {{ meta.longitude }}; {% endif %}
          zoomlevel = 16;
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  var headerMap = L.map('headermap', { zoomControl: false }).setView([latitude, longitude], zoomlevel);

  // remove all controls
  headerMap.dragging.disable();
  headerMap.touchZoom.disable();
  headerMap.doubleClickZoom.disable();
  headerMap.scrollWheelZoom.disable();
  headerMap.keyboard.disable();
  if (headerMap.tap) headerMap.tap.disable();

  // adding layers
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: '<a href="https://www.mapbox.com/about/maps/" target="_blank">&copy; Mapbox &copy; OpenStreetMap</a> | <a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a>',
    id: 'maschurig.p8ga1p99',
    accessToken: 'pk.eyJ1IjoibWFzY2h1cmlnIiwiYSI6ImNpbDJiajEzejAwY2F3OW0wOG95czR5eXkifQ.igaYJkeB7_dF36mj4N1Jvg'
  }).addTo(headerMap);
</script>

<header class="site-header">
  <nav class="navbar navbar-dark navbar-branded-color">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        {% if page.path == 'index.html' %}
        {% assign homepage_active = 'active' %}
        {% endif %}
        <a class="nav-link {{ homepage_active }}" href="{{ site.github.url }}/">
          <strong>Die Städte</strong>
        </a>
      </li>
      {% assign navigation = site.data.navigation %}
      {% for link in navigation %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
      {% assign active = 'active' %}
      {% endif %}
      <li class="nav-item {% if forloop.first %}first{% endif %} {{ active }} {% if forloop.last %}last{% endif %}">
        <a class="nav-link" href="{{ link.url }}"><strong>{{ link.title }}</strong></a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
