// leaflet map
#headermap {
  height: 200px;
  width: 100%;
  z-index: -1;

  &.leaflet-container {
    cursor: default !important;
    background: rgba(#79CCC9, 0.5) !important;
  }
}

// leader-font
.header-text {
  margin-left: 10px;
  margin-top: 30px;

  mark {
    $font-color: #fff;
    $background-color:  rgba(#FF5449, 0.9);
    padding: 2px 0;
    font-size: 2.5rem;
    -webkit-box-shadow: 5px 0 0 $background-color, -5px 0 0 $background-color;
    -moz-box-shadow: 5px 0 0 $background-color, -5px 0 0 $background-color;
    box-shadow: 5px 0 0 $background-color, -5px 0 0 $background-color;
    background-color: $background-color;
    color: $font-color;
  }
}

.navbar-branded-color {
  background-color: #79CCC9;
}
