<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {{ content }}
    <script src="{{ site.github.url }}{{ '/js/application.js' }}"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.schulradar-ruhrgebiet.de","*.codeforruhrgebiet.github.io/schulen-in-nrw"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//traffic.okfn.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 20]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//traffic.okfn.de/piwik.php?idsite=20" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
