---
layout: full_size_map
---

{% for city in site.city_maps %}
  {% if page.key == city.key %}
    {% assign meta = city %}
    {% break %}
  {% endif %}
{% endfor %}

<script>
  {% if meta.latitude %} latitude = {{ meta.latitude }}; {% endif %}
  {% if meta.longitude %} longitude = {{ meta.longitude }}; {% endif %}
  {% if meta.zoomlevel %} zoomlevel = {{ meta.zoomlevel }}; {% endif %}
</script %>

{% include school_map_leaflet.html %}

<script>
  $.getJSON( "/js/cities/{{ meta.key }}.geojson", function(data) {
    addSchoolsToMap(data);
  });
</script>
