---
layout: base
---

<script src="{{ '/js/lib/L.Control.Locate.min.js' | site.github.url }}"></script>
<script src="{{ '/js/lib/leaflet.awesome-markers.min.js' | site.github.url }}"></script>

<style>
  body {
    padding: 0;
    margin: 0;
  }
  html, body, #schoolMap {
    height: 100%;
    width: 100%;
  }
</style>

{% for city in site.cities %}
  {% if page.key == city.key %}
    {% assign meta = city %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="navbar navbar-default navbar-fixed-top map-navbar">
  <a href="{{ site.github.url }}/stadt/{{ meta.key }}/" title="Karte schließen" class="btn btn-white">
    <span class="fa fa-times"><span class="hidden-sm-down"> schließen</span></span>
  </a>
  <button title="Hilfe zur Karte" type="button" class="btn btn-white m-l-2" data-toggle="modal" data-target="#helpModal">
    <span class="fa fa-question-circle"><span class="hidden-sm-down"> Hilfe</span></span>
  </button>



  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h2 class="h4">Hilfe zur Karte</h2>

        <p>Jeder Punkt auf der Karte steht für eine Schule.</p>

        <p><span class="awesome-marker awesome-marker-icon-blue awesome-marker-demo"></span> öffentliche Schule</p>
        <p><span class="awesome-marker awesome-marker-icon-purple awesome-marker-demo"></span> private Schule</p>

        <hr>

        <p><small class=""><em>
          Transparente Punkte auf der Karte ehemalige Schulen beziehungsweise Schulen,
          in denen momentan der Schulbetrieb ruht.
        </em></small></p>

        <p><span class="awesome-marker awesome-marker-icon-blue awesome-marker-demo" style="opacity: 0.3"></span> kein Schulbetrieb (öffentliche Schule)</p>
        <p><span class="awesome-marker awesome-marker-icon-purple awesome-marker-demo" style="opacity: 0.3"></span> kein Schulbetrieb (private Schule)</p>
      </div>
    </div>
  </div>

  <!--<button title="Filter einstellen" type="button" class="btn btn-white m-l-2" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">-->
    <!--<span class="fa fa-filter"><span class="hidden-sm-down"> Filter</span></span>-->
  <!--</button>-->

  <!--<div class="collapse m-t-1" id="collapseFilter">-->
    <!--<div class="row">-->
      <!--<div class="col-xs-11 col-sm-11 col-md-8 col-lg-5">-->
        <!--<div class="card card-block">-->
          <!--<h2 class="h4">Filter einstellen</h2>-->

          <!--<div class="checkbox">-->
            <!--<label>-->
              <!--<input type="checkbox" checked>-->
              <!--Schulbetrieb andeuten<br>-->
              <!--<small><em>(transparent, wenn nicht in Betrieb)</em></small>-->
            <!--</label>-->
          <!--</div>-->

          <!--<div class="checkbox">-->
            <!--<label>-->
              <!--<input type="checkbox" checked>-->
              <!--Öffentliche Schulen und Privatschulen hervorheben<br>-->
              <!--<small><em>(privat wird lila, öffentlich grün)</em></small>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="helpModalLabel">Hilfe zur Karte</h4>
      </div>
      <div class="modal-body">
        <p>Jeder Punkt auf der Karte steht für eine Schule.</p>

        <p><span class="awesome-marker awesome-marker-icon-blue awesome-marker-demo"></span> öffentliche Schule</p>
        <p><span class="awesome-marker awesome-marker-icon-purple awesome-marker-demo"></span> private Schule</p>

        <hr>

        <p><small class=""><em>
          Transparente Punkte auf der Karte zeigen ehemalige Schulen bzw. Schulen,
          in denen momentan der Schulbetrieb ruht.
        </em></small></p>

        <p><span class="awesome-marker awesome-marker-icon-blue awesome-marker-demo" style="opacity: 0.3"></span> kein Schulbetrieb (öffentliche Schule)</p>
        <p><span class="awesome-marker awesome-marker-icon-purple awesome-marker-demo" style="opacity: 0.3"></span> kein Schulbetrieb (private Schule)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hilfe schließen</button>
      </div>
    </div>
  </div>
</div>

<div id="schoolMap"></div>
<script>
  var latitude = 51.4818445, longitude = 7.216236299999991, zoomlevel = 10;
  {% if meta.latitude %} latitude = {{ meta.latitude }}; {% endif %}
  {% if meta.longitude %} longitude = {{ meta.longitude }}; {% endif %}
  {% if meta.zoomlevel %} zoomlevel = {{ meta.zoomlevel }}; {% endif %}

  var schoolMap = L.map('schoolMap', { zoomControl: false }).setView([latitude, longitude], zoomlevel);
  new L.Control.Zoom({ position: 'topright' }).addTo(schoolMap);
  L.control.locate({
    position: 'topright',  // set the location of the control
    strings: {
      title: "Zeige mir wo ich bin",
      metersUnit: "Meter",
      feetUnit: "Fuß",
      popup: "Du bist innerhalb {distance} {unit} von diesem Punkt aus",
      outsideMapBoundsMsg: "Du befindest dich anscheint außerhalb der verfügbaren Karte"
    },
    locateOptions: { maxZoom: 16 }
  }).addTo(schoolMap);


  // improve experience on mobile
  if (schoolMap.tap) schoolMap.tap.disable();

  // adding layers
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: '<a href="https://www.mapbox.com/about/maps/" target="_blank">&copy; Mapbox &copy; OpenStreetMap</a> | <a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a>',
    id: 'maschurig.p8gbjfbc',
    accessToken: 'pk.eyJ1IjoibWFzY2h1cmlnIiwiYSI6ImNpbDJiajEzejAwY2F3OW0wOG95czR5eXkifQ.igaYJkeB7_dF36mj4N1Jvg'
  }).addTo(schoolMap);

  L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';
  L.AwesomeMarkers.Icon.prototype.options.extraClasses = 'lalalala';

  var publicSchoolMarker = L.AwesomeMarkers.icon({
    icon: 'circle',
    markerColor: 'blue',
    iconColor: '#fff'
  });

  var privateSchoolMarker = L.AwesomeMarkers.icon({
    icon: 'circle',
    markerColor: 'purple',
    iconColor: '#fff'
  });

//  var schoolMarker = L.icon({
//    iconUrl: '/img/markers/map-pin.svg',
//    iconSize: [40, 40],
//    iconAnchor: [20, 40]
//  });

//  var myIcon = L.divIcon({
//    iconSize: new L.Point(50, 50),
////    iconAnchor: new L.Point(50),
//    className: 'awesome-marker awesome-marker-shadow awesome-marker-icon-red',
//    html: 'foo bar'
//  });

  // adding data
  $.getJSON( "/js/cities/{{ meta.key }}.geojson", function(data) {
    L.geoJson(data, {
      pointToLayer: function (feature, latlng) {
        var markerIcon, markerOpacity = 1;
        if(feature.properties.rechtsform_schluessel === '1') {
          markerIcon = publicSchoolMarker;
        } else {
          markerIcon = privateSchoolMarker;
        }

        if(feature.properties.schulbetrieb_schluessel === '0' ||
            feature.properties.schulbetrieb_schluessel === '1' ||
            feature.properties.schulbetrieb_schluessel === '2' ||
            feature.properties.schulbetrieb_schluessel === '6'
        ) {
          markerOpacity = 1;
        } else {
          markerOpacity = 0.3;
        }

        return new L.marker(latlng, {
          icon: markerIcon,
          opacity: markerOpacity
        });
      },
      onEachFeature: function (feature, layer) {
        var rechtsformText, betriebText, schulformText
        if(feature.properties.rechtsform_schluessel === '1') {
          rechtsformText = '<span class="label" style="background-color: #2EA6DC">öffentlich</span>';
        } else {
          rechtsformText = '<span class="label" style="background-color: #CF4BB7">privat</span>';
        }

        betriebText = '<span class="label label-default">' + feature.properties.schulbetrieb + '</span>';
        schulformText = '<span class="label label-warning">' + feature.properties.schulform + '</span>';

        layer.bindPopup(
          '<b>' + feature.properties.schulbezeichnung
          + '<br><br>'
          + rechtsformText + ' ' + betriebText
          + '<br><br>'
          + schulformText
          + '<br><br>'
          + 'Träger: ' + feature.properties.schultrager
          + '<br><br>'
        );
      }
    }).addTo(schoolMap);
  });
</script>