<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <br>
    <br>

    <div class="container">
      {{ content }}
    </div>

    {% unless page.url contains '/ueber' %}
    <div class="m-t-3 p-t-3 p-b-3" style="background: #79CCC9;">
      <div class="container">
        <div class="row text-xs-center">
          <div class="col-xs-12 text-white">
            <p class="lead">
              Wir nutzen <strong>Offene Daten</strong>, um dieses Projekt zu realisieren.
            </p>
            <br>
            <a href="{{ site.github.url }}/ueber" class="btn btn-white-outline">
              <strong>Jetzt mehr erfahren</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endunless %}

    {% include footer.html %}

    <script src="{{ '/js/application.js' | site.github.url }}"></script>
  </body>
</html>
